<!DOCTYPE html>
<html>
  <head>
    <title>Proje</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'tüm filmler', movies_path %> <br>
    <%= link_to 'yeni film', new_movie_path %> <br><br>
    <%= yield %>
  </body>
</html>
